@import "./_normalize.scss";
@import "./_swatch.scss";
@import "./_nav.scss";
@import "./_main.scss";
@import "./_footer.scss";

body {
  background: $background;
  margin: 40px auto;
  max-width: 950px;
  line-height: 1.6;
  font-size: 18px;
  color: $bodyText;
  padding: 0
  10px
}

h1,h2,h3{line-height:1.2}
