.foodTrucks {
  width: 100%;
  max-width: 650px;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
  border: 1px dashed red;
  font-size: 20px;

  $walker-size: 100px;
  .walker {
    height: $walker-size;
    width: 3 * $walker-size;
    box-sizing: border-box;
    border: 1px dashed red;
    display: inline-block;
    position: relative;
    left: 0;

    span {
      display: inline-block;
      line-height: $walker-size;
      height: 100%;
      width: 2 * $walker-size;
      position: relative;
      right: 0;
    }
  }

  .layoutButton {
    display: inline-block;
    width: 200px;
    margin: 22px 0;
  }

  .map {
    display: block;
    width: 400px;
    margin: 0 auto;
    height:  400px;
    border: 1px dashed green;
  }

  .zoomButton {
    display: inline;
  }
}
